@using Microsoft.Extensions.Configuration;
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject IConfiguration Configuration
@implements IDisposable
@page "/"

<div class="rvt-container rvt-container--senior rvt-container--center rvt-p-bottom-xl rvt-p-top-lg">
	<h1>IT People</h1>
	<p>
		IT People is a directory of people doing or supporting information technology (IT) work at Indiana University. You can search for <a href="/units">units</a> and people by name, or browse all units and their membership.
	</p>

	<p>
		This button is for testing if our API client is using the bearer token once you're signed in.
		<button class="rvt-button" @onclick=@(() => FetchMe())>Fetch /me</button>
	</p>
</div>
@code{
	private ApiClient Api;

	protected override async Task OnInitializedAsync()
	{
		Api = new ApiClient(sessionStorage, Configuration);
	}

	private async Task FetchMe()
	{
		Console.WriteLine($"index API:\n\tBaseAddress: {Api.BaseAddress}\n\tDefaultRequestHeaders: {Api.DefaultRequestHeaders}");
		
		var resp = await Api.GetAsync("/me");
		var body = await resp.Content.ReadAsStringAsync();
		Console.WriteLine($"/me returned:\n{body}");
	}

	public void Dispose()
	{
	}
}