@page "/"

<div class="rvt-container rvt-container--senior rvt-container--center rvt-p-bottom-xl rvt-p-top-lg">
	<h1>IT People</h1>
	<p>
		IT People is a directory of people doing or supporting information technology (IT) work at Indiana University. You can search for <a href="/units">units</a> and people by name, or browse all units and their membership.
	</p>
</div>