body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eeeeee;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/images/it-people-background.svg");
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.rvt-bg-white {
  background-color: #ffffff;
}

.list-stripes > *:nth-child(even) {
  background-color: #ffffff;
}
.list-stripes > *:nth-child(odd) {
  background-color: #f7f7f7;
}

.rvt-button--plain {
  position: relative;
}
.rvt-button--plain:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #006298;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.rvt-button--plain.selected:before, .rvt-button--plain:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}